.prolinks {
    background-color: var(--aquablue);
    position: fixed;
    bottom: 7rem;
    left: 1.9rem;
    z-index: 2;
    padding: 2rem 1rem;
    border-radius: 2rem;
    transition: transform 0.3s translate(0px, 10px);
    animation: slideup 1s ease-out 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    

    &--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    &--logo {
        cursor: pointer;
        width: 30px;
        filter: invert(100%) sepia(2%) saturate(94%) hue-rotate(217deg) brightness(116%) contrast(100%);

        &:hover {
            filter: invert(13%) sepia(26%) saturate(2051%) hue-rotate(164deg) brightness(92%) contrast(98%);
            transition: 0.5s ease;
        }
    }
}