.skills {
    position: relative;
    height: 100vh;
    width: 100%;

    &-container {
        height: 100vh;
        padding: 15% 15% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    &-title {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: var(--aquablue);
        opacity: 0;
    }

    &-topics {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8rem;
    }

    &-topic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        &--title {
            cursor: pointer;
            color: var(--aquablue);
            font-size: 1.5rem;
            font-weight: bold;
            border-radius: 5px;
            border: 2px solid var(--aquablue);
            box-shadow: 0 0 10px var(--aquablue);
            padding: 1rem;
            
            &:hover {
                transition: 0.25s ease;
                color: white;
                background-color: var(--aquablue);
                box-shadow: 0 0 5px var(--aquablue);
            }
        }


        &--image {
            width: 5rem;
            opacity: 0;
            cursor: pointer;
            filter: invert(13%) sepia(26%) saturate(2051%) hue-rotate(164deg) brightness(92%) contrast(98%);

            &:hover {
                transition: 0.5s ease;
                filter: invert(68%) sepia(38%) saturate(6047%) hue-rotate(141deg) brightness(98%) contrast(97%);
            }
        }
    }

    &-items {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
        &--row {
            display: flex;
            gap: 3rem;
        }
    }
    
    &-item {
        width: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        animation: home 0.5s ease-out;
        animation-fill-mode: forwards;
        opacity: 0;

        &--logo {
            width: 5rem;
        }

        &-name {
            color: var(--dark);
        }
    }
    
}

.selected {
    background-color: var(--aquablue);
    color: white;
    box-shadow: 0 0 5px var(--aquablue);
}

