.mail {
    position: fixed;
    bottom: 7rem;
    right: 1.9rem;
    width: 5rem;
    padding: 10rem 0rem;
    border-radius: 3rem;
    box-shadow: 0 0 7px var(--aquablue);
    z-index: 1;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideup 1s ease 1.7s;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index: 2;

    &:hover {
        transition: 0.5s ease;
        background-color: var(--aquablue);
    }
    
    &--container {
        text-decoration: none;
        transform: rotate(90deg);
        font-size: 1.4rem;
        color: white;
        
        &:hover {
            color: var(--dark);
            transition: 0.25s ease;
            cursor: pointer;
        }
    }

}
@media only screen and (max-width: 1000px) {

    .mail {

    }
}

