.about {
    position: relative;
    height: 100vh;
    width: 100%;
    color: var(--dark);

    &--container {
        height: 100vh;
        padding: 15% 15% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    &--words {
        width: 58rem;
        padding: auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }
    
    &--title {
        font-size: 3rem;
        color: var(--aquablue);
        opacity: 0;
        height: 3rem;
    }

    &--paragraph {
        font-size: 1.2rem;
        line-height: 1.6;
        opacity: 0;   
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        gap: 1rem;    
    }

    &--cv {
        text-decoration: none;
        border-radius: 5px;
        border: 2px solid var(--aquablue);
        font-weight: bold;
        color: var(--aquablue);
        width: 10rem;
        margin: 0.5rem 0 0;
        padding: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--aquablue);
        background-color: transparent;
        box-shadow: 0 0 10px var(--aquablue);
        
        &:hover {
            transition: 0.5s ease;
            color: white;
            background-color: var(--aquablue);
        }
    }

    &--profil {
        border-radius: 10px;
        width: 19rem;
        z-index: 1;
        opacity: 0;
    }


}


@media only screen and (max-width: 1000px) {

    .about {

        &--container {
            gap: 2rem;
        }

        &--title {
            padding-top: 3rem;
            font-size: 2rem;
        }

        &--words {
            width: 45rem;
        }

        &--profil {
            width: 17rem;
        }

        &--paragraph {
            font-size: 1rem;
        }
    }

}

@media only screen and (max-width: 850px) {

    .about {
        height: auto;
        
        &--container {
            padding-bottom: 7rem;
            height: auto;
        }

        &--words {
            width: 20rem;
            flex-direction: column;
            gap: 2rem;
        }
        
        &--profil {
            width: 17rem;
        }
        
        &--paragraph {
            align-items: center;
            text-align: center;
            width: 16rem;
        }

    }

}

@media only screen and (max-width: 450px) {

    .about {

        &--words {
            width: 16rem;
        }
        
        &--profil {
            width: 14rem;
        }
        
        &--paragraph {
            align-items: center;
            text-align: center;
            width: 13rem;
        }

    }

}

