.about {
    position: relative;
    height: 100vh;
    width: 100%;
    color: var(--dark);

    &--container {
        height: 100vh;
        padding: 15% 15% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    &--words {
        width: 58rem;
        padding: auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }
    
    &--title {
        font-size: 3rem;
        color: var(--aquablue);
        opacity: 0;
        height: 3rem;
    }

    &--paragraph {
        font-size: 1.2rem;
        line-height: 1.6;
        opacity: 0;   
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        gap: 1rem;    
    }

    &--cv {
        text-decoration: none;
        border-radius: 5px;
        border: 2px solid var(--aquablue);
        font-weight: bold;
        color: var(--aquablue);
        width: 10rem;
        margin: 0.5rem 0 0;
        padding: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: var(--aquablue);
        box-shadow: 0 0 10px var(--aquablue);

        &:hover {
            transition: 0.5s ease;
            background-color: transparent;
            color: var(--aquablue);
        }
    }

    &--profil {
        border-radius: 10px;
        width: 19rem;
        z-index: 1;
        opacity: 0;
    }


}



