.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    z-index: 3;
    
    &--container {
        background-color: white;
        width: 50rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

    }

    &--image {
        width: 100%;
    }

    &--text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 2rem 1rem;
    }
    
    &--title {
        color: var(--aquablue);
        font-size: 2em;
    }

    &--subtitle {
        font-size: 1.3em;
        color: var(--dark);
    }
    
    &--description {
        font-size: 1.25em;
        color: var(--dark);
    }

    &--footer {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem 1rem;
        position: relative;
    }

    &--link-container {
        text-decoration: none;
        color: var(--pink);
    }

    &--link {
        border: solid 1px;
        padding: 1em 1.5em;
        margin: 0 0 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease;
    }

    &--link:hover {
        background-color: var(--aquablue);
        color: white;
    }
    
    &--close {
        color: grey;
        font-size: 3em;
        border: none;
        background-color: white;
        cursor: pointer;
        position: absolute;
        bottom: 0.7em;
        right: 0.7em;
        font-weight: bold;
        transition: 0.5s ease;
    }

    &--close:hover {
        color: black;
    }
}